/* Allows components to be placed horizontal to each other */
.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Divider styling for the application */
.divider {
  width: 5px;
  background-color: #00000061;
  height: 100%;
}
