/* Allows components to be placed horizontal to each other */
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Side Panel styling */
.side-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 130px;
  height: 100%;
  background-color: #f2f2f2;
  align-items: center;
}
.side-panel h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0;       /* space above and below */
}
.side-panel hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1.2px solid rgba(0, 0, 0, 0.666); /* light gray line */
  width: 90%;
}

/* Side Panel components/buttons styling */
.icon-button {
  width: inherit;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.666);
}
.icon-button:hover {
  background-color: rgba(199, 206, 210, 0.666);
  cursor: pointer;
}

/* Divider styling for the application */
.divider {
  width: 2.5px;
  background-color: rgba(0, 0, 0, 0.666);
  height: 100%;
}

/* Canvas styling */
.canvas {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}
